<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BillingDblocal" 
         connectionString="Server=192.168.1.34;Database=billing_testing;Uid=remoteuserShivam;Pwd=ks@1234;" 
         providerName="MySql.Data.MySqlClient" />
    <add name="BillingDb" 

         connectionString="Server=160.25.62.135;Port=3306;Database=navambhaw_billing_testing;Uid=navambhaw_bill;Pwd=Ks@1234kaira;AllowUserVariables=true;AllowPublicKeyRetrieval=true;ConvertZeroDateTime=true;"
         providerName="MySql.Data.MySqlClient" />

  </connectionStrings>
</configuration>